<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Render App</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .hero.is-primary {
            background-color: red;
        }
    </style>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">
                    {{ message }}
                </h1>
                <p class="subtitle">
                    Built with FastAPI, HTMX, Bulma CSS, and DuckDB
                </p>
            </div>
        </div>
    </section>
</body>
</html>